

*{
    margin: 0;
}
body{
    background-color: #FAEE5B;
}
#nav img{
    width: 90px;
}
#logo{
    margin-left: 1.5%;
}
#nav{
    display: flex;
    align-items: center;
    background-color: #FAb4fc;
    font-family: "Lacquer", system-ui;
       
}
#nav ul{
    column-count: 5;
    width: 100%;
    list-style: none;
    margin-left: 4%;
}
#nav a{
    text-decoration: none;
    color: #7843e6;
}
#login{
    display: flex;
    justify-items: center;
    margin-top: -10%;
    font-size: 10px;
}
#rodape{
    background-color: #FAb4fc;
    color: #7843e6;
    font-family: "Lacquer", system-ui;
    height: 70px;
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
  }
  #pizza1{
    height: 55px;
    margin-left: 3%;
    
  }
  #pizza2{
    height: 55px;
  }
  .social{
    margin-top: 1%;
    vertical-align: middle;
  }
  #rodape svg{
    width: 20px;
  }
  #fundopreto{
    background-color: black;    
    width: 90%;
    height: 550px;
    margin-top: 3%;
    margin-bottom: -50%;
    margin-left: 5%;
  }
  #fundoroxo{
    width: 80%;
    height: 470px;
    margin-top: 12%;
    margin-left: 10%;
    background-image: linear-gradient(#7843E6,#BCBCBC);
    font-family: "Lacquer", system-ui;
    font-size: 15px;
    color: white;
  }
  #pizzassalgadas{
    display: flex;
    justify-content: space-around;

  }
  #fundoroxo h1{
    text-align: center;
  }
  #cardapio{
    
    width: 100%;
    text-align: center;
    margin-bottom: -10%;
  }
  .bebidas img{
    margin-top: 5%;
    width: 75%;
  }
  #fundoroxo svg{
    width: 10px;
  }
  #manete{
    margin-top: -35%;
    margin-left: 66.5%;
    
  }
  #fundoroxo a{
    font-size: 22px;
    color: white;
    font-style: none;
  }
  #pgs{
    display: flex;
    margin-left: 50%;
    margin-left: 3%;
    
  }#form{
    display: flex;
    width: 40%;
    height: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    transition: all 1s;
    background-color: #fbd7fc;
    border-radius: 5px;
    color: #7843E6;
    font-size: 15px;
    margin-top: 2%;
    margin-left: 26%;
}
.login-button{
    display: flex;
    align-items: center;
    font-family: "Lacquer", system-ui;
    
}
.login-button button{
    border: none;
    font-family:  "Lacquer", system-ui;
    font-size: 15px;
    background-color: #7843E6;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 4%;
}

.login-button button:hover{
    background-color: #FAb4fc;
    transform: scale(1.2);
    transition: 0.65s;
}
.login-button button a{
    text-decoration: none;
    color: black;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem ;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #000000;    
}

.input-box input:hover{
    background-color: #FAb4fc;
}
    
.continue-button button{
    width: 50%;
    height: 40px;
    margin-top: 1.5%;
    border: none;
    background-color: #7843E6;
    padding: 0.62rem;
    border-radius: 5px;
    margin-bottom: 1%;
    cursor: pointer;
    font-family:  "Lacquer", system-ui;
    font-size: 15px;
}


.continue-button button a{
    text-decoration: none;
    font-family:  "Lacquer", system-ui;
    font-size: 0.93rem;
    font-weight: 500;
    color: black;
}

.continue-button button:hover{
    background-color: #FAb4fc;
    transform: scale(1.1);
    transition: 0.65s;
}
#pedido{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
}
#pedido img{
  width: 250px;
  height: 250px;
}
#continue button{
  background-color: #7843E6;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  height: 50px;
  width: 150px;
  font-family: "Lacquer", system-ui;
  margin-top: 7%;
}
#continue a{
  text-decoration: none;
}
.quantidade{
  width: 50px;
  text-align: center;
  border: none;
  border-radius: 5%;
  font-size: 16px;
  padding: 5px;
  background-color: #7843E6;
  color: white;
  height: 11px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
  
}
#fundoroxo img{
  height: 70px;
  width: 70px;
}
#fundoroxo p{
  margin-top: 2%;
}
